infra/logic-app.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "appeals-monitor-weekly"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "acrName": {
      "type": "string"
    },
    "acrPassword": {
      "type": "securestring"
    },
    "resourceGroupName": {
      "type": "string"
    },
    "subscriptionId": {
      "type": "string",
      "defaultValue": "[subscription().subscriptionId]"
    },
    "containerGroupName": {
      "type": "string",
      "defaultValue": "appeals-monitor-aci"
    },
    "openaiApiKey": {
      "type": "securestring"
    },
    "openaiEndpoint": {
      "type": "string"
    },
    "openaiApiVersion": {
      "type": "string",
      "defaultValue": "2024-12-01-preview"
    },
    "azureOpenaiDeployment": {
      "type": "string",
      "defaultValue": "gpt-5.4"
    },
    "goAuthToken": {
      "type": "securestring"
    },
    "sendgridApiKey": {
      "type": "securestring"
    },
    "emailFrom": {
      "type": "string"
    },
    "koboApiUrl": {
      "type": "string",
      "defaultValue": "https://kobo.ifrc.org"
    },
    "koboApiToken": {
      "type": "securestring"
    },
    "koboFormUid": {
      "type": "string"
    },
    "teamsWebhookUrl": {
      "type": "securestring",
      "metadata": {
        "description": "Microsoft Teams incoming webhook URL for failure notifications"
      }
    },
    "azureStorageConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "Azure Blob Storage connection string for document persistence"
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "weekly_sunday_midnight": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "weekDays": ["Sunday"],
                  "hours": [0],
                  "minutes": [0]
                },
                "timeZone": "UTC"
              }
            }
          },
          "actions": {
            "Create_container_group": {
              "type": "Http",
              "runAfter": {},
              "inputs": {
                "method": "PUT",
                "uri": "[concat('https://management.azure.com/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.ContainerInstance/containerGroups/', parameters('containerGroupName'), '?api-version=2023-05-01')]",
                "authentication": {
                  "type": "ManagedServiceIdentity"
                },
                "body": {
                  "location": "[parameters('location')]",
                  "properties": {
                    "containers": [
                      {
                        "name": "appeals-monitor",
                        "properties": {
                          "image": "[concat(parameters('acrName'), '.azurecr.io/appeals-monitor:latest')]",
                          "resources": {
                            "requests": {
                              "cpu": 1,
                              "memoryInGB": 2
                            }
                          },
                          "environmentVariables": [
                            { "name": "OPENAI_API_KEY", "secureValue": "[parameters('openaiApiKey')]" },
                            { "name": "OPENAI_ENDPOINT", "value": "[parameters('openaiEndpoint')]" },
                            { "name": "OPENAI_API_VERSION", "value": "[parameters('openaiApiVersion')]" },
                            { "name": "AZURE_OPENAI_DEPLOYMENT", "value": "[parameters('azureOpenaiDeployment')]" },
                            { "name": "GO_AUTH_TOKEN", "secureValue": "[parameters('goAuthToken')]" },
                            { "name": "LAST_N_DAYS", "value": "7" },
                            { "name": "SENDGRID_API_KEY", "secureValue": "[parameters('sendgridApiKey')]" },
                            { "name": "EMAIL_FROM", "value": "[parameters('emailFrom')]" },
                            { "name": "KOBO_API_URL", "value": "[parameters('koboApiUrl')]" },
                            { "name": "KOBO_API_TOKEN", "secureValue": "[parameters('koboApiToken')]" },
                            { "name": "KOBO_FORM_UID", "value": "[parameters('koboFormUid')]" },
                            { "name": "AZURE_STORAGE_CONNECTION_STRING", "secureValue": "[parameters('azureStorageConnectionString')]" }
                          ]
                        }
                      }
                    ],
                    "imageRegistryCredentials": [
                      {
                        "server": "[concat(parameters('acrName'), '.azurecr.io')]",
                        "username": "[parameters('acrName')]",
                        "password": "[parameters('acrPassword')]"
                      }
                    ],
                    "restartPolicy": "Never",
                    "osType": "Linux"
                  }
                }
              }
            },
            "Wait_for_completion": {
              "type": "Wait",
              "runAfter": {
                "Create_container_group": ["Succeeded"]
              },
              "inputs": {
                "interval": {
                  "count": 10,
                  "unit": "Minute"
                }
              }
            },
            "Get_container_logs": {
              "type": "Http",
              "runAfter": {
                "Wait_for_completion": ["Succeeded"]
              },
              "inputs": {
                "method": "GET",
                "uri": "[concat('https://management.azure.com/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.ContainerInstance/containerGroups/', parameters('containerGroupName'), '/containers/appeals-monitor/logs?api-version=2023-05-01')]",
                "authentication": {
                  "type": "ManagedServiceIdentity"
                }
              }
            },
            "Get_container_status": {
              "type": "Http",
              "runAfter": {
                "Wait_for_completion": ["Succeeded"]
              },
              "inputs": {
                "method": "GET",
                "uri": "[concat('https://management.azure.com/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.ContainerInstance/containerGroups/', parameters('containerGroupName'), '?api-version=2023-05-01')]",
                "authentication": {
                  "type": "ManagedServiceIdentity"
                }
              }
            },
            "Check_if_failed": {
              "type": "If",
              "runAfter": {
                "Get_container_status": ["Succeeded"],
                "Get_container_logs": ["Succeeded", "Failed"]
              },
              "expression": {
                "or": [
                  {
                    "not": {
                      "equals": [
                        "@body('Get_container_status')?['properties']?['containers']?[0]?['properties']?['instanceView']?['currentState']?['exitCode']",
                        0
                      ]
                    }
                  },
                  {
                    "equals": [
                      "@body('Get_container_status')?['properties']?['provisioningState']",
                      "Failed"
                    ]
                  }
                ]
              },
              "actions": {
                "Send_Teams_notification": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[parameters('teamsWebhookUrl')]",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "type": "message",
                      "attachments": [
                        {
                          "contentType": "application/vnd.microsoft.card.adaptive",
                          "contentUrl": null,
                          "content": {
                            "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                            "type": "AdaptiveCard",
                            "version": "1.4",
                            "body": [
                              {
                                "type": "TextBlock",
                                "size": "Large",
                                "weight": "Bolder",
                                "text": "\u26a0\ufe0f Appeals Monitor Pipeline Failed",
                                "color": "Attention"
                              },
                              {
                                "type": "TextBlock",
                                "text": "The weekly Appeals Monitor pipeline failed. Check the container logs for details.",
                                "wrap": true
                              },
                              {
                                "type": "FactSet",
                                "facts": [
                                  { "title": "Container Group", "value": "[parameters('containerGroupName')]" },
                                  { "title": "Resource Group", "value": "[parameters('resourceGroupName')]" },
                                  { "title": "Exit Code", "value": "@{body('Get_container_status')?['properties']?['containers']?[0]?['properties']?['instanceView']?['currentState']?['exitCode']}" },
                                  { "title": "Logs (last 500 chars)", "value": "@{take(body('Get_container_logs')?['content'], 500)}" }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "else": {
                "actions": {}
              }
            },
            "Delete_container_group": {
              "type": "Http",
              "runAfter": {
                "Check_if_failed": ["Succeeded", "Failed"]
              },
              "inputs": {
                "method": "DELETE",
                "uri": "[concat('https://management.azure.com/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.ContainerInstance/containerGroups/', parameters('containerGroupName'), '?api-version=2023-05-01')]",
                "authentication": {
                  "type": "ManagedServiceIdentity"
                }
              }
            }
          },
          "outputs": {}
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    }
  }
}
